.logo {
    margin-right: 93px;
    @include font (null, 26px, 1.19, null);
    
    color: $accent-color;
    text-decoration: none;
}

.logo-header {
    color: black;
}
.logo-footer {
    @include font (null, 26px, 1.19, null);

    color: $accent-color;
    text-decoration: none;
}

.logo-footer-secondary {
    color: $white-color;
}