.button {
    display: flex;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--primary-text-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color)
    }
}
