.hero-title {
    margin-bottom: 30px;
    @include font (900, 44px, 1.36, 0.06);
    text-transform: uppercase;
    color: var(--white-color);
}
.section-title,
.section2-title,
.clients__title {
    @include font (null,36px, 1.17, null);
    text-align: center;
}

.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    @include font (null, 14px, 1.14, null);
    
    text-transform: uppercase;
}
.section2-title {
    margin-bottom: 50px;
}
.section-title,
.clients__title {
    margin-bottom: 50px;
    padding-top: 94px;
}
.project-title {
    margin-bottom: 4px;
    @include font (null, 18px, null, 0.06);
    line-height: 2;
}
.social-title {
    font-family: inherit;
    font-style: normal;
    @include font (700, 14px, 1.14, 0.03);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}