.section-title {
    @include font (null,36px, 1.17, null);
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
}

.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    @include font (null, 14px, 1.14, null);
    
    text-transform: uppercase;
}
.project-title {
    margin-bottom: 4px;
    @include font (null, 18px, null, 0.06);
    line-height: 2;
}
.social-title {
    font-family: inherit;
    font-style: normal;
    @include font (700, 14px, 1.14, 0.03);
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 20px;
}